---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="shapes" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>1. UX Designer</h2>
		<p>First and foremost, I am a user experience designer. This is where my strengths lie, and it is my primary area of specialization.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>2. Web Developer</h2>
		<p>With over 9 years in the industry, I take pleasure in crafting meaningful experiences that deliver results.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="user-list" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>3. Usability Testing</h2>
		<p>While analytics tools provide valuable insights, 
		incorporating usability testing is crucial to a great user experience.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
